* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    width: 100%;
    height: 100vh;
}

#back {
    width: 100%;
    height: 100vh;
}

#back img {
    height: 100%;
    width: 100%;
}

#top {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 9;
    background-color: #0000;
}

#workingarea {
    margin: 0 auto;
    width: 80%;
    max-width: 1920px;
    height: 100%;
    position: relative;
}

#nav {
    width: 100%;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav img {
    height: 100px;
}

#left,
#right {
    display: flex;
    align-items: center;
    gap: 50px;
}

#nav a {
    pointer-events: all;
    color: #fff;
    text-decoration: none;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
}

#hero {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
    display: flex;
    justify-content: space-between;
}

#heroleft {
    min-width: 50%;
}

#heroleft .elem {
    position: relative;
    overflow: hidden;
    height: 9vw;
    /* background: red; */
}
#heroleft .elem h1:nth-child(1) {
    top: 0;
}
#heroleft .elem h1 {
    position: absolute;
    top: 100%;
    left: 0;
    line-height: .9;
    font-family: "kajiro";
    color: white;
    font-weight: 100;
    font-size: 11vw;
}

#heroleft button {
    pointer-events: all;
    padding: .8vw 3vw;
    font-size: 3vw;
    margin-top: 2vw;
    font-family: "kajiro";
}

#heroright {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 25%;
    color: white;
    /* background-color: green; */
}

#heroright p {
    font-size: 19px;
    font-weight: 300;
    /* margin-bottom: 50px; */
    text-align: right;
}

#heroright #imagediv {
    width: 100%;
    height: 220px;
    margin-top: 20px;
    margin-bottom: 100px;
    background-image: url(https://images.unsplash.com/photo-1503454537195-1dcabb73ffb9?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mjd8fGdpcmx8ZW58MHx8MHx8fDA%3D);
    background-position: center;
    background-size: cover;
}

#heroright p:nth-child(3) {
    margin-bottom: 100px;
}